body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #e0f7ff, #a2d9ff);
    color: #003366;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #004080;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Georgia', serif;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s;
}

header nav a:hover {
    color: #cce7ff;
}

.section {
    display: flex;
    flex-direction: column; /* Change this to column to make text appear above the image */
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px auto;
    max-width: 1200px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}

.section:hover img {
    transform: scale(1.1);
}

.section img {
    max-width: 45%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.tagline {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 10px; /* Add some space below tagline */
}

.additional-text {
    font-size: 16px;
    color: black;
    margin-top: 10px;
    line-height: 1.6;
    max-width: 45%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #00264d;
    color: white;
}

footer a {
    color: #cce7ff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

footer a:hover {
    color: #ffffff;
}

footer img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    vertical-align: middle;
}
